:root {
    --theme-dark: #1f2937;
    --theme-blue: #3882f6;
    --theme-grey: #E5E7EB;
    --theme-white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

/* STYLING HEADER */

header {
    display: flex;
    justify-content: center;
    background-color: var(--theme-dark);
    color: var(--theme-white);
    padding-top: 10px;
}

.header-top-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 700px;
}

.header-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

header ul li {
    margin-left: 20px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}


.img-placeholder {
    background-color: grey;
    color: var(--theme-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 350px;
}

.header-text {
    flex: 1 1 350px;
    color: var(--theme-white);
}

.header-text button {
    padding: 5px 15px;
    background-color: var(--theme-blue);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: var(--theme-white);
}

.header-main {
    display: flex;
    justify-content: space-between;
    min-height: 100px; 
    column-gap: 20px;
    padding-bottom: 60px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

/* STYLING MAIN SECTION */

.main-section {
    display: flex;
    flex-direction: column;
}

.main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 40px 0;
}

.box-container-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 75px;
}

.box-container {
    display: flex;
    column-gap: 40px;;
    justify-content: center;
    flex: 0 1 800px;
}

.box {
    border: 3px solid var(--theme-blue);
    border-radius: 10px;
    flex: 1 1 125px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 125px
}

.box-container p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* STYLING QUOTE SECTION */

.quote-section {
    display: flex;
    justify-content: center;
    background-color: var(--theme-grey);
    height: 400px;
    padding: 100px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
    /* border: 1px solid black; */
}


.quote-container div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
    width: 100%;
    font-weight: normal;
}

/* STYLING CTA BOX */

.CTA-section {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.CTA-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-blue);
    color: var(--theme-white);
    border-radius: 5px;
    padding: 30px 50px;
    width: 750px;
    column-gap: 50px;
    align-items: center;
}

.CTA-box button {
    width: 100px;
    background-color: var(--theme-blue);
    border: 1px solid var(--theme-white);
    color: var(--theme-white);
    height: 35px;
    border-radius: 5px;
}

.CTA-title {
    font-size: 20px;
    font-weight: bold;
}

/* STYLIGN OF FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--theme-dark);
    padding: 40px 0;
    color: white;
}

